<!DOCTYPE html>
<html>
	<head><p></p>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
　　　　<title>{{ page.title }}</title>
	</head>
	<body>
		<div class="site">
      <div class="title">
        <a href="/NeverBlog">Never Blog</a>
        <a class="extra" href="/NeverBlog">Home</a>
      </div>
  
      {{ content }}
  
      <div class="footer">
        <div class="contact">
          <p>
            <a href="https://github.com/xzllc2010/">github.com/xzllc2010</a><br />
          </p>
        </div>
      </div>
    </div>

    <a href="https://github.com/xzllc2010"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>

	</body>
</html>
