<!DOCTYPE html>
<html>
	<head><p></p>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
　　　　<title>{{ page.title }}</title>
	</head>
	<body>
		<div class="site">
      <div class="title">
        <h3><a href="http://xzllc2010.github.io/NeverBlog/">Never Blog  </a>
        <a class="extra" href="http://xzllc2010.github.io/NeverBlog/">Home  </a>
        <a class="extra" href="http://xzllc2010.github.io/NeverBlog/">About  </a>
        <a class="extra" href="http://xzllc2010.github.io/NeverBlog/">Articles  </a>
        <a class="extra" href="http://xzllc2010.github.io/NeverBlog/">Books  </a>
        <a class="extra" href="http://xzllc2010.github.io/NeverBlog/">Projects  </a></h3>
      </div>
  
      {{ content }}
  
      <div class="footer">
        
      </div>
    </div>

    <a href="https://github.com/xzllc2010"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>

	</body>
</html>
